<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <img [src]="imageUrl">
  <p>Country</p>
  <ion-input [(ngModel)]="country"></ion-input>
  <p>Preferred frequency</p>
  <ion-input [(ngModel)]="preferredFrequency"></ion-input>
  <p>Status</p>
  <ion-select [(ngModel)]="status">
    <ion-select-option value="online">Online</ion-select-option>
    <ion-select-option value="offline">Offline</ion-select-option>
    <ion-select-option value="dont">Don't disturb</ion-select-option>
  </ion-select>
  <p>Transmitting?</p>
  <ion-select [(ngModel)]="transmitting">
    <ion-select-option value="yes">Yes</ion-select-option>
    <ion-select-option value="no">No</ion-select-option>
  </ion-select>
  <p *ngIf="transmitting === 'yes'">Frequency of transmission</p>
  <ion-input [(ngModel)]="transmittingFrequency" *ngIf="transmitting === 'yes'"></ion-input>
  <p>Update password</p>
  <ion-input type="password"></ion-input>
  <p>Callsign</p>
  <ion-input [(ngModel)]="callsign"></ion-input>
  <p>Profile picture</p>
  <input type="file" (change)="onFileSelected($event)">
  <ion-button (click)="setUser()">Update info</ion-button>
</ion-content>
