<ion-header>
  <ion-toolbar>
    <ion-title>AntennaCRUDPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Type</p>
<ion-input [(ngModel)]="type"></ion-input>
<p>Name</p>
<ion-input [(ngModel)]="name"></ion-input>
<p>Range</p>
<ion-input [(ngModel)]="range"></ion-input>
<p>Height</p>
<ion-input [(ngModel)]="height"></ion-input>
<p>Brand</p>
<ion-input [(ngModel)]="brand"></ion-input>
<p>Price</p>
<ion-input [(ngModel)]="price"></ion-input>
<ion-button (click)="submit()">Submit</ion-button>
</ion-content>
