<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input placeholder="Usuario/Signo de llamada" [(ngModel)]="username" type="text"></ion-input>
  <ion-input placeholder="Contraseña" [(ngModel)]="password" type="password"></ion-input>
  <ion-button shape="round" expand="full" (click)="login()">Entrar</ion-button>
  <ion-button shape="round" expand="full" (click)="testLogin()">Test Login</ion-button>
  <p>{{ testResult }}</p>>
</ion-content>
