<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Antenas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-select placeholder="Nombre"></ion-select>
      <ion-select placeholder="Alcance"></ion-select>
      <ion-select placeholder="Tipo"></ion-select>
      <ion-title size="large">Antenas</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Antenas"></app-explore-container>
</ion-content>
