<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-select  [(ngModel)]="country" (ionChange)="updateArray()" placeholder="País">
      <ion-select-option value="placeholder">All places</ion-select-option>
      <ion-select-option *ngFor="let contact of countries" [value]="contact">{{ contact}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select  [(ngModel)]="frequency" (ionChange)="updateArray()" placeholder="País">
      <ion-select-option value="placeholder">All freqs</ion-select-option>
      <ion-select-option *ngFor="let contact of frequencies" [value]="contact">{{ contact}}</ion-select-option>
    </ion-select>
  </ion-item>
    <app-contactitem [contacts]="contactsVisible"></app-contactitem>
  <ion-button *ngIf="frequency === 'placeholder' && country === 'placeholder'" (click)="presentModal()">Add new</ion-button>
  <div class="map-container">
    <div class="map-frame">
      <div id="map" leaflet (leafletMapReady)="onMapReady($event)"></div>
    </div>
  </div>
</ion-content>
