<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <img src="assets/modifiedlogoRadioPlatform.svg">
  </div>
  <div class="centerion-input">
  <ion-input placeholder="Usuario/Signo de llamada" [(ngModel)]="username" type="text"></ion-input>
  </div>
  <div class="centerion-input">
    <ion-input placeholder="Contraseña" [(ngModel)]="password" type="password"></ion-input>
  </div>
  <ion-button class="centerbutton" shape="round" (click)="login()">Entrar</ion-button>
  <br>
  <ion-button class="centerbutton" shape="round" (click)="register()">Registrarse</ion-button>
</ion-content>
