<ion-header>
  <ion-toolbar>
    <ion-title>Administracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Panel de administracion</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="grid">
    <div id="chat-window">
      <p *ngFor="let message of messages">{{ message }}
        <ion-button (click)="presentBlockDialog(message)" [attr.aria-label]="'Block user'"><ion-icon name="stopwatch"></ion-icon></ion-button>
        <ion-button (click)="presentDeleteConfirmation(message)" [attr.aria-label]="'Delete message'"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </p>
    </div>
    <div id="antennacontainer">
      <p>Antenas</p>
      <ion-item>
        <ion-select [(ngModel)]="antennaname" (ionChange)="updateArrayAntenna()" placeholder="Nombre">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let antenna of antennaeTotal" [value]="antenna.name">{{antenna.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Marca" [(ngModel)]="antennabrand" (ionChange)="updateArrayAntenna()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let antenna of antennaeTotal" [value]="antenna.brand">{{antenna.brand}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Tipo" [(ngModel)]="antennatype" (ionChange)="updateArrayAntenna()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let antenna of antennaeTotal" [value]="antenna.type">{{antenna.type}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Altura" [(ngModel)]="antennaheight" (ionChange)="updateArrayAntenna()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let antenna of antennaeTotal" [value]="antenna.height">{{antenna.height}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <app-antennaitem [antennae]="antennaeVisible" [isadmin]="isadmin"></app-antennaitem>
      <ion-button (click)="presentModalAntenna()">Add new</ion-button>
    </div>
    <div id="radiocontainer">
      <p>Radios</p>
      <ion-item>
        <ion-select [(ngModel)]="radioname" (ionChange)="updateArrayRadio()" placeholder="Nombre">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let radioset of radiosetsTotal" [value]="radioset.name">{{radioset.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="radiobrand" (ionChange)="updateArrayRadio()" placeholder="Marca">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let radioset of radiosetsTotal" [value]="radioset.brand">{{radioset.brand}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="radiotype" (ionChange)="updateArrayRadio()" placeholder="Tipo">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let radioset of radiosetsTotal" [value]="radioset.type">{{radioset.type}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="radioamplitude" (ionChange)="updateArrayRadio()" placeholder="Amplitud">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let radioset of radiosetsTotal" [value]="radioset.amplitude">{{radioset.amplitude}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <app-radiosetitem [equipment]="radiosetsVisible" [isadmin]="isadmin"></app-radiosetitem>
      <ion-button (click)="presentModalRadioSet()">Add new</ion-button>
    </div>
  </div>

</ion-content>
