<ion-header>
  <ion-toolbar>
    <ion-title>AntennaCRUDPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!(isadmin)">Please, choose an antenna if it already exists</p>
  <ion-item *ngIf="!(isadmin)">
    <ion-select [(ngModel)]="antenna" (ionChange)="updateAntenna()" placeholder="Antennae">
      <ion-select-option *ngFor="let antenna of antennaeTotal" [value]="antenna">{{ antenna.name }}</ion-select-option>
    </ion-select></ion-item>
  <br>
  <p>Type</p>
<ion-input [(ngModel)]="type"></ion-input>
<p>Name</p>
<ion-input [(ngModel)]="name"></ion-input>
<p>Range</p>
<ion-input [(ngModel)]="range"></ion-input>
<p>Height</p>
<ion-input [(ngModel)]="height"></ion-input>
<p>Brand</p>
<ion-input [(ngModel)]="brand"></ion-input>
<p>Price (in dollars)</p>
<ion-input type="number" [(ngModel)]="price"></ion-input>
<ion-button (click)="submit()" *ngIf="type && name && range && height">Submit</ion-button>
<ion-button (click)="dismiss()">Exit</ion-button>
</ion-content>
