<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Email (mandatory)</p>
  <ion-input [(ngModel)]="email"></ion-input>
  <p>Password (mandatory)</p>
  <ion-input [(ngModel)]="password" type="password"></ion-input>
  <p>Callsign</p>
  <ion-input [(ngModel)]="callsign"></ion-input>
  <p>Country</p>
  <ion-input [(ngModel)]="country"></ion-input>
  <p>Preferred frequency</p>
  <ion-input [(ngModel)]="preferredFrequency"></ion-input>
  <p>Profile picture</p>
  <input type="file" (change)="onFileSelected($event)">
  <img [src]="imageUrl" alt="Your profile picture">
  <ion-button (click)="register()" *ngIf="email && password">Register</ion-button>
</ion-content>
