<table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Altura</th>
        <th>Marca</th>
        <th>Rango</th>
        <th>Precio</th>
    </tr>
    <tr *ngFor="let antenna of antennae">
        <td>{{antenna.name}}</td>
        <td>{{antenna.type}}</td>
        <td>{{antenna.height}}</td>
        <td>{{antenna.brand}}</td>
        <td>{{antenna.range}}</td>
        <td>{{antenna.price}}$</td>
<ion-button *ngIf="!(isadmin)" (click)="presentDeleteConfirmationUser(antenna)" [attr.aria-label]="'Delete ' + antenna.name"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
<ion-button *ngIf="!(isadmin)" (click)="presentModalModifyUser(antenna)" [attr.aria-label]="'Modify ' + antenna.name"><ion-icon name="brush"></ion-icon></ion-button>
<ion-button *ngIf="isadmin" (click)="presentDeleteConfirmation(antenna)" [attr.aria-label]="'Delete ' + antenna.name"><ion-icon name="close-circle"></ion-icon></ion-button>
<ion-button *ngIf="isadmin" (click)="presentModalModify(antenna)" [attr.aria-label]="'Modify ' + antenna.name"><ion-icon name="create"></ion-icon></ion-button>
<ion-checkbox *ngIf="!(isadmin)" [(ngModel)]="antenna.isfavourite" (ionChange)="sendFavouriteData(antenna)"></ion-checkbox>
    </tr>
</table>
