<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Radios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Equipamiento</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Radios"></app-explore-container>
  <ion-item>
    <ion-select placeholder="Nombre"></ion-select>
    </ion-item>
  <ion-item>
    <ion-select placeholder="Marca"></ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Tipo"></ion-select></ion-item>
      <ion-item>
        <ion-select placeholder="Amplitud"></ion-select></ion-item>
</ion-content>
