<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Contactos">
  </app-explore-container>
  <ion-item>
    <ion-select placeholder="País"></ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Frecuencia"></ion-select>
  </ion-item>
</ion-content>
