<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-select  [(ngModel)]="country" (ionChange)="updateArray()" placeholder="País">
      <ion-select-option value="placeholder">All</ion-select-option>
      <ion-select-option *ngFor="let contact of contactsTotal" [value]="contact.location">{{ contact.location}}</ion-select-option>
    </ion-select>
  </ion-item>
    <app-contactitem [contacts]="contactsVisible"></app-contactitem>
  <ion-button (click)="presentModal()">Add new</ion-button>
  <div class="map-container">
    <div class="map-frame">
      <div id="map" leaflet (leafletMapReady)="onMapReady($event)"></div>
    </div>
  </div>
</ion-content>
