<ion-header>
  <ion-toolbar>
    <ion-title>Price calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Antenas</p>
  <ion-select (ionChange)="updateAntennaChosen()" [(ngModel)]="antennaChosen">
    <ion-select-option *ngFor="let antenna of antennae" [value]="antenna">{{antenna.name}}</ion-select-option>
  </ion-select>
  <table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Altura</th>
        <th>Marca</th>
        <th>Rango</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    <tr *ngFor="let antenna of antennaeChosen">
        <td>{{antenna.name}}</td>
        <td>{{antenna.type}}</td>
        <td>{{antenna.height}}</td>
        <td>{{antenna.brand}}</td>
        <td>{{antenna.range}}</td>
        <td>{{antenna.price}}$</td>
        <td><ion-input type="number" [(ngModel)]="antenna.multiplier"  (ionChange)="updateAntennaMultiplier(antenna)"></ion-input></td>
        </tr>
  </table>
  <p>Radios</p>
  <ion-select (ionChange)="updateEquipmentChosen()" [(ngModel)]="radiosetChosen">
    <ion-select-option *ngFor="let radioset of equipment"  [value]="radioset" >{{radioset.name}}</ion-select-option>
  </ion-select>
  <table>
    <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Amplitud</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    <tr *ngFor="let radioset of equipmentChosen">
        <td>{{radioset.name}}</td>
        <td>{{radioset.brand}}</td>
        <td>{{radioset.type}}</td>
        <td>{{radioset.amplitude}}</td>
        <td>{{radioset.price}}$</td>
        <td><ion-input type="number" [(ngModel)]="radioset.multiplier" (ionChange)="updateEquipmentMultiplier(radioset)"></ion-input></td>
    </tr>
  </table>
  <p>Total: {{total}}$</p>
  <ion-button (click)="dismiss()">Exit</ion-button>
</ion-content>
