nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
    position: absolute;
    width:100vw;
    z-index:4;
}
div:not(#navbar, #welcomescreen, #imagecontainer, #audiocontainer) {
    color:cyan;
    background-color:cyan;
    border:1px solid black;
    align-self:center;
}
#buttonContainer {
    width:100vw;
    display:flex;
justify-content: center
;}

a {
   text-decoration:none;
}
h1, h2, p {
    margin:5% 0 5% 0;
    z-index:2;
    text-align:center;
}
canvas {
    margin: 0 auto 0 auto;
}
img {
    height:20vh;
}
#imagecontainer {
    display:grid;
}
#audiocontainer {
    display:grid;
}