nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
    position: absolute;
    width:100vw;
    z-index:4;
}
#hamburger {
    position:relative;
    visibility:visible;
}
#navbar {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
#navbar img {
    height:50px;
    align-self:end;
}
#hamburger {
    position:relative;
    visibility:visible;
}
video {
    align-content:center;
    margin:61px auto 0 auto;
}
video {
    z-index:3;
    width:100vw;
}
