<ion-header>
  <ion-toolbar>
    <ion-title>RadioSetCRUDPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="!(isadmin)">Please, choose a radioset if it already exists</p>
  <ion-item *ngIf="!(isadmin)">
    <ion-select [(ngModel)]="equipment" (ionChange)="updateRadio()" placeholder="Equipment">
      <ion-select-option *ngFor="let radioset of radioSetTotal" [value]="radioset">{{ radioset.name }}</ion-select-option>
    </ion-select></ion-item>
  <br>
  <p>Brand</p>
<ion-input [(ngModel)]="brand"></ion-input>
<p>Name</p>
<ion-input [(ngModel)]="name"></ion-input>
<p>Type</p>
<ion-input [(ngModel)]="type"></ion-input>
<p>Amplitude</p>
<ion-input [(ngModel)]="amplitude"></ion-input>
<p>Price</p>
<ion-input [(ngModel)]="price"></ion-input>
<ion-button (click)="submit()" *ngIf="brand && name && type && amplitude">Submit</ion-button>
<ion-button (click)="dismiss()">Cancel</ion-button>

</ion-content>
