<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to RadioPlatform!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/modifiedlogoRadioPlatform.svg" id="logo" height="450px">
  <nav>
    <div class="nav-wrapper">Functionality</div>
    <div class="nav-wrapper">Powered by <a href=""></a></div>
    <div class="nav-wrapper">What is Amateur Radio?</div>
    <div class="nav-wrapper">Enter</div>
  </nav>
  <h1>RadioPlatform - A Platform for Radio Amateurs</h1>
  <p>RadioPlatform is an Angular platform thought for radio amateurs to have a safe place to chat and manage their next purchase of equipment.</p>
  <h2>Functionality</h2>
  <p>Users can share antennae used for their equipment, along with transceivers they may use, and make it known to other radio amateurs.</p>
<p>Users can chat, where they can ask for advice, find buying options among other radio-amateur related topics.</p>
<p>Users have a list of users they can filter by country, equipment, antennae, preferred frequency range... When they search for contacts.</p>
<p>Users have a map where they can see at a quick glance all the contacts they have neatly shown in the 'Contacts' section.</p>
<p>Users can set their favoured frequency and let other users know when they start transmitting and when.</p>
<p>    Users can give a price to equipment and make simple calculations to know whether they can afford it or not.</p>
<p>    Admins can moderate the chat with several tools that will allow for it.</p>
<h2>Powered by</h2>
<p>Angular/Ionic</p>
<p>MySQL</p>
<p>Firebase</p>
<p>Express</p>
<p>Socket.io</p>
<p>Leaflet</p>
<p>Nominatim</p>
<h2>What is Amateur Radio?</h2>
<p>So, what are you waiting for? Click down below, and register into the only amateur radio social network! Keep the contact!</p>
<ion-button shape="round">Enter</ion-button>
</ion-content>
