<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-select [(ngModel)]="country" (ionChange)="updateArray()" placeholder="País">
      <ion-select-option value="">All places</ion-select-option>
      <ion-select-option *ngFor="let user of countries" [value]="user">{{user}}</ion-select-option>
    </ion-select>
    </ion-item>
  <ion-item>
    <ion-select [(ngModel)]="frequency" (ionChange)="updateArray()" placeholder="Frecuencia">
      <ion-select-option value="">All freqs</ion-select-option>
      <ion-select-option *ngFor="let user of frequencies" [value]="user">{{user}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select [(ngModel)]="status" (ionChange)="updateArray()" placeholder="Online">
      <ion-select-option value="">All stats</ion-select-option>
      <ion-select-option value="online">Online</ion-select-option>
      <ion-select-option value="offline">Offline</ion-select-option>
      <ion-select-option value="dont">Don't disturb</ion-select-option>
    </ion-select></ion-item>
      <ion-item>
        <ion-select [(ngModel)]="transmitting" (ionChange)="updateArray()" placeholder="Emitiendo">
          <ion-select-option value="">Transmitting?</ion-select-option>
          <ion-select-option value="true">True</ion-select-option>
          <ion-select-option value="false">False</ion-select-option>
        </ion-select></ion-item>
          <app-useritem [users]="usersVisible"></app-useritem>
        
</ion-content>
